//? ████████████████████████████████████  GET FONT
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

//>  ████████████████████████████████████  FONTS

@font-face {
  font-family: "bold";
  src: url("../fonts/FiraSans-Black.ttf");
}

@font-face {
  font-family: "light";
  src: url("../fonts/FiraSans-Light.ttf");
}

@font-face {
  font-family: "very-light";
  src: url("../fonts/IBMPlexMono-Thin.otf");
}

@font-face {
  font-family: "tall";
  src: url("../fonts/LeagueGothic-Regular-VariableFont_wdth.ttf");
}

//>  ████████████████████████████████████  RESET

* {
  font-family: "tall";
  color: black;
  
  text-align: center;
  
  // border: 1px solid #999;
}

//>  ████████████████████████████████████  BODY

body {}

//>  ████████████████████████████████████  H1

h1 {

  font-family: "tall";
  font-size: 12vw;
  letter-spacing: .3vw;
  color: white;
  text-shadow: 0.5vw 0.5vw 2vw rgba(0, 0, 0, 0.25);
  margin-top: 6vw;;
}

h2 {

  font-family: "very-light";
  font-size: 30vw;
  color: rgba($color: #FFFFFF, $alpha: 0.75);
  letter-spacing: -4vw;

}

h3 {

  font-family: "bold";
  font-size: 4vw;
  color: white;

}

h4 {

  font-family: "bold";
  font-size: 2vw;
  color: rgba($color: #FFFFFF, $alpha: 0.5);

}

p {

  font-family: "light";
  font-size: 3vw;
  color: white;

}

//>  ████████████████████████████████████  LIBRARY__COLORS

.white {

color: white;

}